<!DOCTYPE html>
<html>
    <head>
        <title>AI-Based Mock Interview</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <div class="heading">
            <h1>AI BASED MOCK INTERVIEW</h1>
        </div>
        <div class="box">
        <div class="font">
            <h1>Start your Interview</h1>
            <p>Interview Type</p>

            <select id="InterviewType" onchange="redirectToInterview()">
                <option value="" disabled selected>Select Interview</option>
                <option value="technical">Technical</option>  
                <option value="behavioral">Behavioral</option>
                <option value="system_design">System Design</option>
            </select>
        </div>
        </div>

        <script>
            function redirectToInterview() {
                const type = document.getElementById("InterviewType").value;
                if (type) {
                    window.location.href = `/${type}`;
                }
            }
        </script>
    </body>
</html>
